<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
</div>
<div class="panel panel-default row" ng-controller="productListCtrl">
  <div class="col-xs-3">
    <a ng-click="selectCategory()"
       class="btn btn-block btn-default btn-lg">Home</a>
    <a  ng-repeat="item in products | orderBy:'category' | unique:'category'" ng-click="selectCategory(item)" ng-class="getCategoryClass(item)" class="btn btn-block btn-default btn-lg"> Category #{{ item }} </a>
  </div>
  <div class="col-xs-8">
    <div class="well" ng-repeat="item in products | filter:categoryFilterFn | range:selectedPage:pageSize">
      <h3><strong>{{ item.name }}</strong></h3>
      <span class="pull-right label label-primary">$ {{ item.price | orderBy: 'price'}}</span>
      <span class="lead">{{ item.description }}</span>
      <span class="lead">{{ item.category }}</span>
    </div>
  </div>
  <div class="btn-group">
      <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
         ng-click="selectPage($index + 1)" class="btn btn-default"
         ng-class="getPageClass($index + 1)">
          {{ $index + 1 }}
      </a>
  </div>
</div>
